/* ========== ADAPTATIVIDADE ========== */
  /*ADAPTATIVIDADE*/
  @media screen and (max-width: 992px){
    .cabecalho,.conteudo-principal,.itens,.footer-conteudo{
      width: 100%;
      height: 100%;
    }
    .conteudo-principal {
      margin: auto;
    }
    .descricao-produtos {
      margin-left: 2%;
      width: 54%;
      height: auto;
      text-align: justify;
    }
    img{
        width: 90%;
    }
    .produto1 .image-produto{
      margin-top: 5%;
    }
    .conteudo-principal >.compra{
       margin-top: 3.6em;
    }
    .caracteristicas, .avaliacoes,.itens{
        width: 94%;
    }
  }
  @media screen and (max-width:834px) {
    .conteudo-principal{
      width: 98%;
      padding: 0.3em;
    }
    .produto1{
      padding-top: 1.5em;
    }
    .produto1 .image-produto{
      margin-top: 30%;
    }
    .descricao-produtos{
      margin-left:4%;
      width: 100%;
      height: auto;
      text-align: justify;
    }
    .descricao-produtos p , .descricao-produtos ul>li{
      font-size: 1.3em;
    }
    .image-produto{
      width: 80%;
      height: auto;
      padding-left: 1em;
    }
    .produto2 .image-produto,.produto3 .image-produto,.produto4 .image-produto{
      margin-top: 4%;
    }
    .itens{
      max-width: 100%;
      max-height: 100%;
      padding: 1em;
    }
    .ficha{
      font-size: 2em;
    }
    .painel ul li{
      font-size: 1.4em;
    }
    .caracteristicas{
      width: 96%;
    }
  }
  @media screen and (max-width: 770px) {
    .cabecalho{
      width: 96%;
    }
    .cabecalho h1{
      font-size: 3em;
    }
    .cabecalho p{
      font-size: 1.5em;
    }
    .conteudo-principal{
      display: block;
      width: 98%;
      height: 100%;
      margin: auto;
      text-align: center;
    }
    .produto1,.produto2,.produto3,.produto4{
      display: flex;
      padding: 0.6em;
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }
   .descricao-produtos{
      display: block;
      width:100%;
      height: auto;
      margin: auto;
      text-align: justify;
      flex: 1;
    }
    .descricao-produtos p, .descricao-produtos ul>li{
      font-size: 1.35em;
    }
    .descricao-produtos h3{
      font-size: 2em;
    }
    img{
      max-width:100%;
      max-height: 100%;
      display: block;
      margin: auto;
    }
    .image-produto {
      margin: auto;
      width: 80%;
      height: auto;
      margin-bottom: 1.6em;
    }
   
    .itens{
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      text-align: center;
    }
    .ficha{
       width: 98%;
      height: auto;
      margin: auto;
      font-size: 2em;
    }
    .painel ul>li{
      font-size: 1.35em;
      text-align: justify;
    }
    .caracteristicas{
      width: 94%;
  }
  .avaliacoes, .avaliacoes p{
    width: 95%;
    height: 100%;
    font-size: 1.35em;
  }
  .avaliacoes h4{
    font-size: 1.6em;
  }
  .footer-coluna h4{
    font-size: 1.6em;
  }
  .footer-conteudo p{
    font-size: 1.3em;
  }
  .footer-coluna ul li>a{
    font-size: 1.35em;
  }
  .footer-coluna .nome-marca{
    font-size: 3em;
  }
  .footer-direitos{
  font-size: 1em;
  }
  }
  @media screen and (max-width: 600px) {
    .cabecalho{
      width: 90%;
    }
    .cabecalho h1{
      font-size: 2em;
    }
    .cabecalho p{
      font-size: 0.8em;
    }
    .conteudo-principal,.produto1,.produto2,.produto3,.produto4{
      display: block;
      width: 98%;
      height: 100%;
      margin: auto;
      text-align: center;
    }
   .descricao-produtos{
      display: block;
      width:100%;
      height: auto;
      margin: auto;
      text-align: justify;
    }
    img{
      max-width:100%;
      max-height: 100%;
    }
    .image-produto {
      display:block;
      margin: auto;
      width: 80%;
      height: auto;
      margin-bottom: 1em;
    }
    img:hover{
      transition: none;
      transform: none;
    }
    .itens{
      max-width: 100%;
      max-height: 100%;
      margin: auto;
      text-align: center;
    }
    .ficha{
       width: 98%;
      height: auto;
      margin: auto;
    }
    .painel ul>li{
      font-size: 0.9em;
    }
    .caracteristicas{
      width: 94%;
  }
  .avaliacoes, .avaliacoes p{
    width: 95%;
    height: 100%;
    font-size: 1em;
  }
  .avaliacoes h4{
    font-size: 1.6em;
  }
  .avaliacoes h1{
    font-size:2.6em ;
  }
  .footer-coluna h4{
    font-size: 0.8em;
  }
  .footer-coluna ul>li{
    font-size: 0.7em;
  }
  .footer-conteudo p{
    font-size: 1em;
  }
  .footer-direitos{
    font-size: 0.6em;
  }
  }
  @media screen and (max-width: 480px) {
    img{
      width: 100%;
    }
    .image-produto:hover{
      transform: none;
      transition: none;
    }
    .descricao-produtos{
      width: 100%;
      text-align: justify;
    }
    .btn-compra {
      padding: 10px 20px;
      font-size: 0.9em;
    }
    .ficha {
      font-size: 1em;
    }
    .painel ul>li,.descricao-produtos p,.descricao-produtos ul>li,.avaliacoes p{
      text-align: justify;
      font-size: 0.8em;
    }
    .descricao-produtos h3,.avaliacoes h4{
      font-size: 1.2em;
    }
    .avaliacoes h1{
      font-size: 2em;
    }
    .footer-conteudo .nome-marca{
      font-size: 2em;
    }
    .footer-coluna h4{
      font-size: 0.8em;
    }
    .footer-coluna ul>li{
      font-size: 0.6em;
    }
    .footer-conteudo{
      height: 100%;
    }
    .footer-conteudo p{
      font-size: 1em;
    }
    .footer-direitos{
      font-size: 0.6em;
    }
  }  
 
  /* ========== ADAPTATIVIDADE ========== */